/**********************************************************/
@import "tailwindcss";

@theme {
  --color-bg: var(--main-bg);
  --color-card: var(--card-bg);
  --color-card-hover: var(--card-hover);
  --color-border-base: var(--border-color);
  --color-title: var(--text-title);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-muted: var(--text-muted);
  --color-sidebar: var(--sidebar-bg);
  --color-switch: var(--switch-bg);
  --color-switch-ball: var(--switch-ball);
  --color-badge: var(--badge);
  --color-redirect: var(--redirect-icon);
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  --main-bg: rgba(0,0,0,0.03);
  --card-bg: rgba(0, 0, 0, 0.03);
  --card-hover: rgba(0, 0, 0, 0.06);
  --border-color: rgba(0, 0, 0, 0.12);
  --text-title: #000000;
  --text-primary: rgb(37, 99, 235);
  --text-secondary: #1f2937;
  --text-muted: #6b7280;
  --sidebar-bg: rgba(255, 255, 255, 0.8);
  --switch-bg: #e5e7eb;
  --switch-ball: #2564eb48;
  --redirect-icon: #2563eb;
}

.dark {
  --main-bg: #1e1e1e;
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-hover: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.09);
  --text-title: rgb(255, 255, 255);
  --text-primary: #60a5fa;
  --text-secondary: #e5e7eb;
  --text-muted: #9ca3af;
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  --switch-bg: var(--card-bg);
}

.base-card {
  border: 1px solid var(--border-color);
}

.card {
  padding: 2em;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--main-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
}